* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    transition: background 0.6s ease-in-out;
    min-width: 320px;
}

h1, h2, h3, h4 {
    font-family: "Poppins", sans-serif;
}

header {
    position: fixed;
}

.main-wrapper {
    margin: 0 auto;
    padding-top: 90px;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 68px;
}

.container {
    max-width: var(--content-width);
    margin: 0 auto;
    margin-bottom: 68px;
}

.about-me-img-container {
    position: relative;
    margin-top: auto;
    margin-bottom: 32px;
}

.about-me-img {
    display: block;
    width: 225px;
    height: 225px;
    border-radius: 50%;
}

.about-me-img-container::before, .about-me-img-container::after {
    content: '';
    position: absolute;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    z-index: -1;
}

.about-me-img-container::before {
    top: 0;
    left: 0;
    transform: translate(6px, 10px);
    background-color: #85FFDB;
}

.about-me-img-container::after {
    top: 0;
    left: 0;
    transform: translate(-6px, -10px);
    background-color: #FFFFFF;
}

.text-highlighted {
    color: #85FFDB;
}

.about-me-job {
    margin: 32px auto;
    text-align: center;
    font-weight: 700;
    font-size: 72px;
}