* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    transition: background 0.6s ease-in-out;
    min-width: 320px;
}

header {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        margin: 0 auto;
        padding: 0 20px;
        background-color: var(--bg);
        z-index: 4;
}

h1, h2, h3, h4 {
    font-family: "Poppins", sans-serif;
}

p {
    line-height: 1.8;
}

.navbar {
        max-width: var(--content-width);
        margin: 0 auto;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
  }

.main-wrapper {
    margin: 0 auto;
    padding-top: 90px;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 68px;
}

.container {
    max-width: var(--content-width);
    margin: 0 auto;
    margin-bottom: 68px;
}

.about-me-img-container {
    position: relative;
    margin-top: auto;
    margin-bottom: 32px;
}

.about-me-img {
    display: block;
    width: 225px;
    height: 225px;
    border-radius: 50%;
}

.about-me-img-container::before, .about-me-img-container::after {
    content: '';
    position: absolute;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    z-index: -1;
}

.about-me-img-container::before {
    top: 0;
    left: 0;
    transform: translate(6px, 10px);
    background-color: #85FFDB;
}

.about-me-img-container::after {
    top: 0;
    left: 0;
    transform: translate(-6px, -10px);
    background-color: #FFFFFF;
}

.text-highlighted {
    color: #85FFDB;
}

.about-me-job {
    margin: 32px auto;
    text-align: center;
    font-weight: 700;
    font-size: 72px;
}

.skills {
    margin-bottom: 68px;
}

.block-bg {
    padding: 64px 32px;
    max-width: 1440px;
    background-color: #39B38F;
    background-image: linear-gradient(0deg, #BC1964 0%, #311996 100%);
    border-radius: 10px;
    margin-bottom: 68px;
    color: #FFFFFF;
}

.block-bg--thin {
    width: 90%;
    margin: 0 auto;
  }

.subtitle {
    font-weight: 400;
    color: #85FFDB;
}

.title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 48px;
}

.skills__list {
    display: inline-grid;
    grid-template-rows: repeat(3, auto);
    gap: 28px;
    align-items: center;
    width: 100%;
}

ul {
    margin: 0;
}

.skills__item {
    position: relative;
    margin-left: 12px;
    width: fit-content;
}

.skills__item:nth-child(3n - 2) {
    grid-row: 1 / 2;
}

.skills__item:nth-child(3n - 1) {
  grid-row: 2 / 3;
}

.skills__item:nth-child(3n) {
  grid-row: 3 / 4;
}

li {
    list-style: none;
}